<a href="https://colab.research.google.com/github/arvinddubey/example/blob/master/python_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
---

There are following errors which I encountered -
* SyntaxError - If we use wrong syntax.
* TypeError - When an operation or fuction applied on an inappropriate data type. 
* ValueError - In case using correct type but wrong value.
* KeyboardInterrupt - If program execution get intruppted in between.
* NameError - If we use any variable which doesn't exist.

In [2]:
#SyntaxError
a=>10

SyntaxError: ignored

In [3]:
#TypeError
a=10
b="20"
c = a + b

TypeError: ignored

In [4]:
#ValueError
a = " "
print(int(a))

ValueError: ignored

In [5]:
#KeyboardInterrupt
"""Not sure how to reproduce it"""

'Not sure how to reproduce it'

In [6]:
#NameError
print(name)

NameError: ignored

#Take input A and B and print their sum, mul, div, square of the nos.:

In [12]:
A = int(input("Please enter value of A: "))
B = int(input("Please enter value of B: "))
print(f"Sum of A and B is {A+B}")
print(f"Multiply of A and B is {A*B}")
print(f"Division of A and B is {A/B}")
print(f"Square of A is {A**2}")

Please enter value of A: 4
Please enter value of B: 2
Sum of A and B is 6
Multiply of A and B is 8
Division of A and B is 2.0
Square of A is 16

#How many reserve keywords are there in python and why we should not use them as a variable name.
There are many reserve keywards in python, and ther are - If, else, elif True, Flase, class, raise, for, and, or, def, del, print, in, try, while, return, break, pass, global, yield, except, lambda, continue, assert, from, None, import.

In [14]:
#Get list of reserve keywords
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

#Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [17]:
firstName = input("Enter first name: ")
lastName = input("Enter last name: ")
email = f"{firstName}.{lastName}@gmail.com"
print(email)

Enter first name: arvind
Enter last name: dubey
arvind.dubey@gmail.com

#Try to print the following lines -
- Hi I'm Sunny
- My address is 22\3
- I earn 20$ daily.

In [29]:
print("""Hi I'm Sunny
My address is 22\\3
I earn 20$ daily.
""")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

#Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [20]:
name = input("Enter your name: ")
email = input("Enter your email: ")
address = input("Enter your address: ")
dob = input("Enter your date of birth: ")
print(f"""Student details are below -
Name: {name}
Email: {email}
Address: {address}
Date of birth: {dob}""")

Enter your name: arvind
Enter your email: arvind@gmail.com
Enter your address: 10/07/1986
Enter your date of birth: benglaroe
Student details are below -
Name: arvind
Email: arvind@gmail.com
Address: 10/07/1986
Date of birth: benglaroe

#Convert the following -
- "22.4" into integer
- "22" into complex no.

In [27]:
#"22.4" into integer
#It can't be directly converted into integer. We have to follow below steps.
a = "22.4"
a = float(a) # first convert it into float, since the above string is having float value.
int(a) # Then finally from float to int

22

In [28]:
#"22" into complex no.
complex("22")

(22+0j)